* {
    box-sizing: border-box;
    margin: 0;
    padding:0;
    scroll-behavior: smooth;
    transition: 0.8s;
    background: #393838;
}
.slider-wrapper {
    margin: 90px auto;
    max-width: 617px;

}
.slider-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 20px;
}
.slider {
    position: relative;
}
.image {
    display: none;
    position: relative;
    margin: 0 auto;
}
.image.run {
    display: block;
}
.image img {
    height: 322px;
    width: 578px;
    border-radius: 2%;
    box-shadow: 0px 0px 8px 1px #000;
}
.bullets {
    display: flex;
    position: relative;
    top: 15px;
}
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 5px;
    background-color: rgb(80, 123, 253);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  .dot:before {
    position:absolute;
    content:'';
    top:-5px;
    right:-5px;
    left:-5px;
    bottom:-5px;
    z-index: -1;
  }
.dot.active {
    border: 2px solid rgb(80, 123, 253);
    background-color: #393838;
}
.dot.active:hover {
    border: 2px solid #fff;
    background-color: #393838;
}
.dot:hover {
    background-color: #fff;
  }
.slider-subtitle {
    display: flex;
    position: relative;
    top: 15px;
}
.slider_text {
    display: none;
    font-family: 'Roboto';
    font-weight: 200;
    font-size: 22px;
    line-height: 21px;
    color: #fff;
}
.slider_text.run {
     display: block;
}
@media (max-width: 480px){
    .slider-container {
        display: grid;
    }
    .slider-wrapper {
        margin: 50px auto;
        max-width: 480px;
    }
    .bullets {
        justify-content: center;
    }
    .slider-subtitle {
        top: 80px;
    }

}